# Matemática financeira
## Sistemas de amortização

Aluno: Itanu Vaimaca Romero Martinez - BP3007863

# Trabalho Programação
## Programar em qualquer software os seguintes sistemas de amortização:
1. Sistema de amortização constate- SAC
2. Sistema de prestação constante- SPC
3. Sistema de amortização misto.

Utilizem como base o seguinte problema:
Um empréstimo de $ 160.000,00 é concedido a uma empresa para ser liquidado em 2
anos e meio mediante pagamentos semestrais. A taxa de juros contratada é de 11,36% a.s.
Pede-se construir a planilha de desembolso deste empréstimo pelo sistema de amortização
misto.
O programa deverá apresentar o saldo devedor, a amortização, o juros e a prestação de
cada um dos sistemas de amortização.

In [1]:
# Primeiro, importamos a biblioteca necessária, que utiliza uma estrutura muito similar ao de uma tabela
import pandas as pd

In [2]:
# Depois limpamos os avisos de atualização
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Inicializamos os valores que estão dispostos na questão
CAPITAL = 160000
QUANTIDADE_DE_PARCELAS = 5
TAXA = 11.36

In [4]:
# E criamos uma base para a estruturação das tabelas
data = {
    'saldo_devedor': [CAPITAL],
    'amortizacao': [0],
    'juros': [0],
    'prestacao': [0]
}

In [5]:
# Logo, inicializamos o valor de amortização da primeira tabela, sendo a divisão do capital pelas parcelas
amortizacao_SAC = CAPITAL / QUANTIDADE_DE_PARCELAS

In [6]:
# E criamos o dataframe com os dados já adequados
SAC = pd.DataFrame(data=data)

In [7]:
# Agora uma função para separar esse código
def get_final_SAC(SAC):
  for index in range(1, 6):
    # Primeiro indicamos qual a linha anterior 
    previous = int(index) - 1
    # Calculando os valores de cada linha
    saldo_devedor =  SAC.iloc[previous].saldo_devedor - amortizacao_SAC
    amortizacao = amortizacao_SAC
    juros = SAC.iloc[previous].saldo_devedor * (TAXA / 100)
    prestacao = amortizacao + juros
    # Criando a estrutura da nova linha
    new_row = {
        'saldo_devedor': saldo_devedor,
        'amortizacao': amortizacao,
        'juros': juros,
        'prestacao': prestacao
    }
    # Adicionando a nova linha ao dataframe
    SAC = SAC.append(new_row, ignore_index=True)
  # Criando a estrutura do total (última linha)
  total = {
      'saldo_devedor': 0,
      'amortizacao': SAC['amortizacao'].sum(),
      'juros': SAC['juros'].sum(),
      'prestacao': SAC['prestacao'].sum()
  }
  # Adicionando a linha final (dados totais) no dataframe
  SAC = SAC.append(total, ignore_index=True)
  SAC.rename({SAC.index[-1]: 'Total'}, inplace=True)
  # Retornando o dataframe completo
  return SAC

In [8]:
# Executando e mostrando o resultado do sistema de amortização constante
final_SAC = get_final_SAC(SAC)
final_SAC

       saldo_devedor  amortizacao    juros  prestacao
0           160000.0          0.0      0.0        0.0
1           128000.0      32000.0  18176.0    50176.0
2            96000.0      32000.0  14540.8    46540.8
3            64000.0      32000.0  10905.6    42905.6
4            32000.0      32000.0   7270.4    39270.4
5                0.0      32000.0   3635.2    35635.2
Total            0.0     160000.0  54528.0   214528.0

In [9]:
# Agora vamos para o segundo dataframe, com sistema de parcela constante
data = {
    'saldo_devedor': [CAPITAL],
    'amortizacao': [0],
    'juros': [0],
    'prestacao': [0]
}
SPC = pd.DataFrame(data=data)

In [10]:
# Para calcular a parcela, precisamos de uma conta de Capital vezes 1 dividido pelo fator de valor presente
def calcula_FPV(taxa, periodo):
  taxa_em_decimal = round(taxa / 100, 4)
  return (1 - ((1 + taxa_em_decimal) ** - periodo)) / taxa_em_decimal

def calcula_prestacao(capital, taxa, periodo):
  FPV = calcula_FPV(taxa, periodo)
  return capital * (1 / FPV)

In [11]:
# Calculamos o valor das prestações com base nas funções acima
prestacao_SPC = calcula_prestacao(CAPITAL, TAXA, QUANTIDADE_DE_PARCELAS)
prestacao_SPC

43683.98288913454

In [12]:
# Agora criamos uma função para popular o SPC
def get_final_SPC(SPC):
  for index in range(1, 6):
    previous = int(index) - 1
    saldo_anterior = SPC.iloc[previous].saldo_devedor
    # Calculando os valores de cada linha
    prestacao = round(prestacao_SPC, 4)
    juros = round(saldo_anterior * (TAXA / 100), 4)
    amortizacao = round(prestacao - juros, 4)
    # Arredondando os valores para não termos erros de decimais
    saldo_devedor = abs(round(round(saldo_anterior, 4) - round(amortizacao, 4), 2))
    # Criando a estrutura da nova linha
    new_row = {
        'saldo_devedor': saldo_devedor,
        'amortizacao': amortizacao,
        'juros': juros,
        'prestacao': prestacao
    }
    # Adicionando a nova linha ao dataframe
    SPC = SPC.append(new_row, ignore_index=True)
  # Criando a estrutura do total (última linha)
  total = {
      'saldo_devedor': 0,
      'amortizacao': SPC['amortizacao'].sum(),
      'juros': SPC['juros'].sum(),
      'prestacao': SPC['prestacao'].sum()
  }
  # Adicionando a linha final no dataframe
  SPC = SPC.append(total, ignore_index=True)
  SPC.rename({SPC.index[-1]: 'Total'}, inplace=True)
  # Retornando a tabela completa
  return SPC

In [13]:
# Executando e mostrando o resultado do sistema de amortização constante
final_SPC = get_final_SPC(SPC)
final_SPC

       saldo_devedor  amortizacao       juros    prestacao
0          160000.00       0.0000      0.0000       0.0000
1          134492.02   25507.9829  18176.0000   43683.9829
2          106086.33   28405.6894  15278.2935   43683.9829
3           74453.75   31632.5758  12051.4071   43683.9829
4           39227.71   35226.0369   8457.9460   43683.9829
5               0.00   39227.7150   4456.2679   43683.9829
Total           0.00  160000.0000  58419.9145  218419.9145

In [14]:
# Agora vamos para o terceiro dataframe, com as médias para cada um dos 
data = {
    'saldo_devedor': [CAPITAL],
    'amortizacao': [0],
    'juros': [0],
    'prestacao': [0]
}
SAM = pd.DataFrame(data=data)

In [15]:
# Criamos uma função para receber a média de dois valores
def calcula_media(valor_1, valor_2):
  return (valor_1 + valor_2) / 2

In [16]:
# Criando agora a função para popular a última tabela
def get_final_SAM(SAM):
  for index in range(1, 6):
    # Calculando os valores de cada linha
    saldo_devedor =  round(calcula_media(final_SAC.iloc[index].saldo_devedor, final_SPC.iloc[index].saldo_devedor), 2)
    amortizacao = round(calcula_media(final_SAC.iloc[index].amortizacao, final_SPC.iloc[index].amortizacao), 3)
    juros = round(calcula_media(final_SAC.iloc[index].juros, final_SPC.iloc[index].juros), 2)
    prestacao = round(calcula_media(final_SAC.iloc[index].prestacao, final_SPC.iloc[index].prestacao), 2)
    # Criando a estrutura da nova linha
    new_row = {
        'saldo_devedor': saldo_devedor,
        'amortizacao': amortizacao,
        'juros': juros,
        'prestacao': prestacao
    }
    # Adicionando a nova linha ao dataframe
    SAM = SAM.append(new_row, ignore_index=True)
  # Criando a estrutura do total (última linha)
  total = {
      'saldo_devedor': 0,
      'amortizacao': SAM['amortizacao'].sum(),
      'juros': SAM['juros'].sum(),
      'prestacao': SAM['prestacao'].sum()
  }
  # Adicionando a linha final no dataframe
  SAM = SAM.append(total, ignore_index=True)
  SAM.rename({SAM.index[-1]: 'Total'}, inplace=True)
  # Retornando a tabela populada
  return SAM

In [17]:
# Executando e mostrando o resultado do sistema de amortização constante
final_SAM = get_final_SAM(SAM)
final_SAM

       saldo_devedor  amortizacao     juros  prestacao
0          160000.00        0.000      0.00       0.00
1          131246.01    28753.991  18176.00   46929.99
2          101043.16    30202.845  14909.55   45112.39
3           69226.88    31816.288  11478.50   43294.79
4           35613.85    33613.018   7864.17   41477.19
5               0.00    35613.858   4045.73   39659.59
Total           0.00   160000.000  56473.95  216473.95

In [18]:
# Sendo assim, temos as três tabelas adiante
display(final_SAC, final_SPC, final_SAM)

       saldo_devedor  amortizacao    juros  prestacao
0           160000.0          0.0      0.0        0.0
1           128000.0      32000.0  18176.0    50176.0
2            96000.0      32000.0  14540.8    46540.8
3            64000.0      32000.0  10905.6    42905.6
4            32000.0      32000.0   7270.4    39270.4
5                0.0      32000.0   3635.2    35635.2
Total            0.0     160000.0  54528.0   214528.0

       saldo_devedor  amortizacao       juros    prestacao
0          160000.00       0.0000      0.0000       0.0000
1          134492.02   25507.9829  18176.0000   43683.9829
2          106086.33   28405.6894  15278.2935   43683.9829
3           74453.75   31632.5758  12051.4071   43683.9829
4           39227.71   35226.0369   8457.9460   43683.9829
5               0.00   39227.7150   4456.2679   43683.9829
Total           0.00  160000.0000  58419.9145  218419.9145

       saldo_devedor  amortizacao     juros  prestacao
0          160000.00        0.000      0.00       0.00
1          131246.01    28753.991  18176.00   46929.99
2          101043.16    30202.845  14909.55   45112.39
3           69226.88    31816.288  11478.50   43294.79
4           35613.85    33613.018   7864.17   41477.19
5               0.00    35613.858   4045.73   39659.59
Total           0.00   160000.000  56473.95  216473.95